@media only screen and (min-width: 38rem) {
    .resource-layout {
        grid-template-columns: 250px 1fr;
        align-items: start;
    }

    .resource-sidebar {
        position: sticky;
        top: 2rem;
    }

    #company-list {
        display: grid;
        grid-template-columns: 1fr 1fr;grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 20px;
    }

    .resource-card  {
        grid-column: 1 / -1;
    }
}