@media only screen and (min-width: 38rem) {
    table {
        font-size: 17px;
        width: 100%;
    }

    .table-wrapper {
        display: flex;
        max-width: 900px;
        justify-content: center;
        margin: 10px auto;
        
    }

    .form-container.show{
        display: grid;
        margin: 3rem auto;
        max-width: 820px;
        
        
    }
}