@media only screen and (min-width: 38rem) {
    #discover-grid div {
        grid-template-areas:
            "image name"
            "image description"
            "image address";
    }
    #discover-grid div img {
        width: 300px;
    }
}