/* Black - #000000ff
Brownish yellow - #f8ab38ff */
@media only screen and (min-width: 38rem) {

    :root {
        --primary-color: #58abc7;
        --secondary-color: #add8e6;
        --accent1: #ddd;
        --accent2: #eee;
    }

    body {
        background-color: var(--accent1);
    }


    header {
        grid-template-columns: 44px auto;
        padding: 1.4rem;
        margin-bottom: 10px;
        /* display: flex; */
        /* flex-wrap: wrap; */
    }

    header p {
        font-size: 1.5rem;
        padding-left: 3rem;
    }

    .hamburger {
        display: none;
    }

    nav li {
        border-bottom: none;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
        background-color: var(--primary-color);
        border-radius: 8px;
    }

    nav {
        display: block;
        border-bottom: solid 1px #eee;
        width: 100%;

    }

    nav.open {
        flex-direction: row;
        width: fit-content;
        gap: 60px;
        margin-top: 0;
    }

    .box {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        gap: 19px;
    }

    .info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    #weather-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* Business Directory */
    .box {
        display: flex;
        justify-content: center;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        padding: 0 3rem;
        column-gap: 10px;
        border-radius: 8px;
    }

    .social {
        align-self: center;
        column-gap: 19px;
        /* padding-bottom: .8rem; */
    }

}