/* Black - #000000ff
Brownish yellow - #f8ab38ff */

:root {
    --primary-color: #58abc7;
    --secondary-color: #add8e6;
    --accent1: #ddd;
    --accent2: #eee;
}

* {
    padding: 0;
    margin: 0;
}

body {
    /* background-color: var(--primary-color); */
    color: #000;
    font-family: "Zalando Sans Expanded", sans-serif;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    align-items: center;
    padding: 1rem;
    /* background-color: var(--accent1); */
    background-color: white;
}

header p {
    display: flex;
    margin-left: 5px;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

header img {
    width: 44px;
}

.hamburger {
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    color: #fafafa;
    cursor: pointer;
    padding: .5rem;
}

.hamburger span,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    background: #1f1f1f;
    margin: 5px 0;
    transition: 0.5s ease;
}

.hamburger.active::before {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span {
    opacity: 0;
}

.hamburger.active::after {
    transform: rotate(-45deg) translate(5px, -5px);
}

nav {
    display: none;
}

/* nav.open {
    display: block;
} */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    transition: 0.5s ease;
    border: none;
    border-bottom: solid 1px #ddd;
}

nav li {
    display: block;
    border-bottom: solid 1px #eee;
    background-color: var(--primary-color);
}

nav a:hover {
    background-color: var(--secondary-color);
}

ul .active {
    background-color: var(--secondary-color);
}

nav.open {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* place-items: left; */
    margin-top: 1rem;
    gap: 30px;
}

nav li .active {
    color: var(--secondary-color);
}

.hero {
    position: relative;
    aspect-ratio: 16 / 9;
    background-color: var(--accent2);
    width: 100%;
    height: auto;
    overflow: hidden;

}

.hero img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.8;
    border-radius: 10px;
}

main {
    padding: 2rem 1rem;
    background-color: var(--accent1);
    color: var(--primary-color);
}

h1 {
    color: #000;
}

h2 {
    background-color: var(--primary-color);
    text-align: center;
    color: #000;
}

.btn-container {
    display: flex;
    column-gap: 1rem;
}

button {
    border: none;
    /* background: none; */
    padding: .7rem;
    font-size: 18px;
    font-weight: bold;
    border-radius: 9px;
}

.cta-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

.cta-btn {
    background-color: var(--primary-color);
    margin-top: 10px;
    display: inline-block;
    padding: 0.7rem 1.5rem;
    color: #000;
    text-decoration: none;
    border-radius: 9px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #eee;
    color: blue;
}

button a {
    text-decoration: none;
    color: #000;
}

button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}

.box section {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    flex: 1 1 300px;
    max-width: 350px;
}

.box section img {
    width: 100px;
    height: auto;
    border-radius: 12px;
    margin-bottom: 9px;
}

#weather-section {
    display: flex;
    flex-direction: column;
    color: #000;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.events {
    background-color: rgb(152, 152, 152);
    height: 100px;
    margin-bottom: 10px;
    color: #000;
}

#weather-section div {
    background-color:rgb(152, 152, 152);
}

.box section p,
.box section a {
    margin-bottom: 9px;
    color: #000;
}







.info {
    display: flex;
    flex-direction: column;
}


footer {
    /* background-color: var(--accent1); */
    background-color: var(--primary-color);
    color: black;
    text-align: left;
    padding: 2rem 1rem;
}

footer img {
    width: 22px;
    height: 22px;
}

.social {
    display: flex;
    justify-content: left;
    column-gap: 8px;
    padding: .8rem;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

/* .social img {
    width: 22px;
    height: 22px;
} */

.social a:hover {
    background-color: #ddd;
}

.copy {
    padding-top: .8rem;
}

footer p {
    padding: .5rem;
    font-weight: bold;
}