@media only screen and (min-width: 550px) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 44px auto;
    }

    main {
        margin-bottom: 20px;
    }

    .ham-btn {
        display: none;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .list .card {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .list div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        border-bottom: 1px solid #ccc;
    }

    .card {
        border: 1px solid gray;
        padding: 10px;
        border-radius: 8px;
        background-color: #add8e6;
        box-shadow: 4px 4px gray;
    }

    .navigation li {
        border-bottom: none;
    }

    .navigation ul {
        display: flex;
        justify-content: space-evenly;
        background-color: #58abc7;
        border-radius: 8px;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
        width: 100%;
    }

    footer {
        background-color: #58abc7;
        padding: 1rem 10px;
        border-radius: 8px;
        line-height: 1px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}