* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(233, 233, 233);
}

header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: center;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.ham-btn {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    cursor: pointer;
    width: 44px;
    height: 44px;
    overflow: hidden;
}

h1 {
    text-align: center;
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
    background-color: #58abc7;
    border: none;
}

.navigation li {
    display: block;
    border-bottom: solid 1px #eee
}

.navigation a:hover {
    background-color: #add8e6;
}

ul .active {
    background-color: #add8e6;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    align-items: center;
}

.grid section {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
}

/* Hide images in list view for a cleaner look */
.list div img {
    display: none;
}

.grid div img {
    width: 100px;
    border-radius: 10px;
}

.menu {
    text-align: center;
    padding: 1rem;
}

.menu button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    border: none;
    background-color: #b6b6b6;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 20px 10px;
}

.card {
    padding: 15px;
    border-radius: 8px;
    background-color: #add8e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}



footer {
    background-color: #58abc7;
    padding: 2rem 1rem;
    text-align: left;
}

.social {
    display: flex;
    justify-content: left;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    border: #ccc solid 1px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #add8e6;
}

.details {
    padding-top: .8rem;
}

footer p {
    padding: .4rem;
    font-weight: bold;
}