body {
    margin: 10px;
}

header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: center;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.ham-btn {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    cursor: pointer;
    width: 44px;
    height: 44px;
    overflow: hidden;
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
    background-color: #58abc7;
    border: none;
}

.navigation li{
    display: block;
    border-bottom: solid 1px #eee
}

.navigation a:hover {
    background-color: #add8e6;
}

h1 {
    margin-left: 10px;
}

h2 {
    margin: 0 10px;
    background-color: #58abc7;
    text-align: center;
    padding: 5px 0;
}

#credit {
    text-align: center;
}

.about-box {
    background-color: #add8e6;
    margin: 0 10px 15px 10px;
}

.about-box h2 {
    background-color: #58abc7;
    margin: 0;
}

.info {
    margin: 0 10px 10px;
}

.info p {
    margin: 0;
    margin-top: 5px;
}

.info img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

.select {
    background-color: #21addc;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 5px 10px;
    font-size: 20px;
    cursor: pointer;
}

.course-btn {
    display: flex;
    justify-content: space-evenly;
}

#course {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 5px;    
}

.course-card {
    background-color: #add8e6;
    border-radius: 8px;
    text-align: center;
    box-shadow: 5px 6px gray;
}

footer {
    background-color: #58abc7;
    margin: 0 10px;
    padding: 1rem 10px;
    text-align: center;
    border-radius: 8px;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    border: #ccc solid 1px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #add8e6;
}